<% content_for :title do %>
  ワンだふる犬図鑑-犬種詳細
<% end %>

<div class="dog_breed_show-member">
	<h2 class="dog_breed_show-title-member">犬種詳細</h2>
	<div class="dog_breed_show-image-member">
  	<%= attachment_image_tag(@dog_breed, :dog_image, size: "340x220", fallback: "no_image.jpg" ) %>
  </div>

  <div class="tag-box">
    <% @dog_breed.tags.each do |tag| %>
      <span class="label"><%= tag.name %></span>
    <% end %>
  </div>

  <div class="dog_breed_show-text-member">
    <p>
      犬種名</br><%= @dog_breed.dog_name  %>
    </p>

		<p>
    	犬種説明
      <!--改行対応-->
      <%= simple_format(@dog_breed.dog_introduction) %>
  	</p>

    <p>
      ジャンル：<%= @dog_breed.genre.name %>
    </p>
	</div>
</div>

<!--コメント機能表示-->
<span class = "comments">
  <%= render 'public/comments/index', dog_breed: @dog_breed %>
</span>

<!--コメント投稿-->
<div class="new-comment">
<%= form_with(model:[@dog_breed, @comment],url: public_dog_breed_comments_path(@dog_breed), remote: true) do |f| %>
  <%= f.text_area :comment, size: "40x2", placeholder: "コメントをここに", class: "form-control" %>
  <%= f.submit "送信する", class: "mt-1" %>
<% end %>
</div>


