<div class="shiba-background">
  <div class="container">
    <div class="row">
  		<div class="row align-items-center">
        <%= attachment_image_tag(@dog_breed, :dog_image, size: "340x220", fallback: "no_image.jpg" ) %>
      </div>

      <div class="col-4 offset-1 product_show pt-2 pb-2">
        <h2><%= @dog_breed.dog_name %></h2><br>
        <h2><%= @dog_breed.genre.name %></h2><br>
        <h2><%= @dog_breed.dog_introduction %></h2><br>
      </div>
      <!--コメント機能表示-->
      <span class = "comments">
        <%= render 'public/comments/index', dog_breed: @dog_breed %>
      </span>

      <!--コメント投稿-->
      <div class="new-comment">
      <%= form_with(model:[@dog_breed, @comment],url: public_dog_breed_comments_path(@dog_breed), remote: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
      </div>


          <!--いいね機能-->
          <!--<#% if @comment.favorited_by?(current_member) %>-->
          <!--<p>-->
          <!--  <%#= link_to public_dog_breed_comment_favorites_path(@comment), method: :delete do %>-->
          <!--    ♥<%#= @comment.favorites.count %> いいね-->
          <!--  <#% end %>-->
          <!--</p>-->
          <!--<#% else %>-->
          <!--<p>-->
          <!--  <%#= link_to public_dog_breed_comment_favorites_path(@comment), method: :post do %>-->
          <!--    ♡<%#= @comment.favorites.count %> いいね-->
          <!--  <#% end %>-->
          <!--</p>-->
          <!--<#% end %>-->
    </div>
  </div>
</div>
