<% content_for :title do %>
  ワンだふる犬図鑑-会員詳細
<% end %>

<h2 class="member-show-title"><%= @member.last_name %><%= @member.first_name %>さんの会員詳細</h2>
<table class="table table-light table-hover member-show-table">
  <tr>
    <th>会員ID</th>
    <th><%= @member.id %></th>
  </tr>
  <tr>
    <th>氏名</th>
    <th><%= @member.last_name %> <%= @member.first_name %></th>
  </tr>
  <tr>
    <th>フリガナ</th>
    <th><%= @member.last_name_kana %> <%= @member.first_name_kana %></th>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <th><%= @member.email %></th>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <th>
      <% if @member.is_active == true %>
        有効
      <% else %>
        退会済
      <% end %>
    </th>
  </tr>
</table>

<div class="member-edit-button">
  <%= link_to "編集する", edit_admin_member_path(@member.id), class:"btn btn-lg btn-success" %>
</div>