<% content_for :title do %>
  ワンだふる犬図鑑-会員詳細
<% end %>

<div class="container">
  <h2 class="member-show-title-login"><%= @member.last_name %><%= @member.first_name %>さんのマイページ</h2>
  <table class="table table-light table-hover member-show-table-login">
    <tbody>
      <tr>
        <td>氏名</td>
        <td><%= @member.last_name %> <%= @member.first_name %></td>
      </tr>

      <tr>
        <td>カナ</td>
        <td><%= @member.last_name_kana %> <%= @member.first_name_kana %></td>
      </tr>

      <tr>
        <td>メールアドレス</td>
				<td><%= @member.email %></td>
      </tr>
    </tbody>
  </table>

  <div class="member-edit-button-login">
    <%= link_to " 編集する", edit_public_member_path, class: "btn btn-success" %>
  </div>
</div>
